@import "tailwindcss";

@theme {
  --color-ce-primary: #FDB813;
  --color-ce-secondary: #362008;
  --color-ce-text: #C5F1E7;
}

html {
  font-size: 16px;
}



a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}


.site-nav {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.site-nav-link {
  font-weight: 500;
  font-size: 0.85em;
  line-height: 0.85em;
}

.site-header__link:hover,
.site-header__brand:hover,
.site-header__view-toggle:hover {
  opacity: 0.4;
}

.nav-bar__outer {
  position: fixed;
  top: 50%;
  left: 1.5em;
  z-index: 99;
  transform: translateY(-50%);
}
