.transition-root{
    --page-transition-duration: 1100ms;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}



.page-layer{
    width: 100%;
}


.page-layer--leaving,
.page-layer--entering{

    position: absolute;
    inset: 0;

}


.page-layer--leaving{

    z-index:1;
}

.page-layer--entering{
    z-index: 2;
    clip-path: inset(0 0 100% 0);
}

.is-active {}

.page-layer--entering.is-active{
    animation: pageReveal var(--page-transition-duration) cubic-bezier(0.22, 1, 0.36, 1) forwards;
}


.transition-overlay{
    position: absolute;
    inset: 0;
    z-index: 3;
    pointer-events: none;
    opacity: 0;
}


@keyframes pageReveal {
    from{ 
        clip-path: inset(0 0 100% 0);
    }
    to{
        clip-path: inset(0 0 0% 0);
    }
}


